<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jswn.mysir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 讯飞语音权限开始 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 讯飞语音权限结束 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash_Activity" />
        <activity android:name=".List_app_Activity" />
        <activity
            android:launchMode="singleTop"
            android:name=".Voice_touming" />
        <activity android:name=".Voice_sousuo_Actvity" />
        <activity android:name=".Setting_Actvity"/>
        <activity
            android:name="com.jswn.XunFeiYuyin.VoiceListen"
            android:theme="@android:style/Theme.Translucent" />

        <service android:name="com.jswn.MyService.VoiceService" />
    </application>

</manifest>